<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="5" android:versionName="3.1.0.20.08" package="org.simalliance.openmobileapi.service" platformBuildVersionCode="21" platformBuildVersionName="5.0-1412832757"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:label="SmartcardServicePermission label" android:name="org.simalliance.openmobileapi.SMARTCARD" android:protectionLevel="dangerous" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="com.android.nfc.permission.NFCEE_ADMIN" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <application android:label="SmartcardService">
        <uses-library android:name="org.simalliance.openmobileapi" android:required="true" />
        <service android:name="org.simalliance.openmobileapi.service.SmartcardService" android:permission="org.simalliance.openmobileapi.SMARTCARD" android:enabled="true" android:process=":remote">
            <intent-filter>
                <action android:name="org.simalliance.openmobileapi.service.ISmartcardService" />
            </intent-filter>
        </service>
        <receiver android:name="org.simalliance.openmobileapi.service.SmartcardServiceBootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>