<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.letv.android.theme" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-22">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:theme="@style/AppTheme">
        <activity android:configChanges="letvTheme" android:label="@string/app_name" android:name="com.letv.android.theme.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.letv.leuiTheme" android:exported="true" android:multiprocess="false" android:name="ThemeContentProvider"/>
        <receiver android:name="com.letv.android.theme.BootupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="com.letv.android.theme.WriteDBService"/>
    </application>
</manifest>
