<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="21" android:versionName="5.0.2-21" package="com.android.onetimeinitializer" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-21"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <application android:label="One Time Init">
        <receiver android:name=".OneTimeInitializerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".OneTimeInitializerService" />
    </application>
</manifest>