<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.email" platformBuildVersionCode="21" platformBuildVersionName="5.0.2-21">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <original-package android:name="com.android.email"/>
    <permission android:description="@string/permission_read_attachment_desc" android:label="@string/permission_read_attachment_label" android:name="com.android.email.permission.READ_ATTACHMENT" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <permission android:description="@string/permission_read_attachment_desc" android:label="@string/permission_read_big_body_label" android:name="com.android.email.permission.READ_BIG_BODY" android:permissionGroup="android.permission-group.MESSAGES" android:protectionLevel="dangerous"/>
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <uses-permission android:name="com.android.email.permission.READ_BIG_BODY"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <permission android:description="@string/permission_access_provider_desc" android:label="@string/permission_access_provider_label" android:name="com.android.email.permission.ACCESS_PROVIDER" android:protectionLevel="signature"/>
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>
    <application android:allowBackup="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher_mail" android:label="@string/app_name" android:name=".EmailApplication" android:requiredAccountType="com.android.exchange,com.android.email" android:supportsRtl="true" android:theme="@style/LeUnifiedEmailTheme">
        <meta-data android:name="android.app.default_searchable" android:value="com.android.email2.ui.MailActivityEmail"/>
        <activity android:autoRemoveFromRecents="true" android:configChanges="keyboardHidden|orientation|screenSize" android:documentLaunchMode="none" android:label="@string/app_name" android:name="com.android.email.activity.ComposeActivityEmail" android:theme="@style/LeComposeTheme" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.SENDTO"/>
                <data android:scheme="mailto"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <data android:mimeType="*/*"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.email.intent.action.REPLY"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="ui.email2.android.com" android:pathPrefix="/compose" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="mailto"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mail.intent.action.LAUNCH_COMPOSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mail.intent.action.LAUNCH_COMPOSE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity-alias android:name="com.android.mail.compose.ComposeActivity" android:targetActivity="com.android.email.activity.ComposeActivityEmail"/>
        <activity android:label="@string/sign_in_title" android:name=".activity.setup.OAuthAuthenticationActivity" android:theme="@style/LeMailActivityTheme"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:label="@string/sign_in_title" android:name=".activity.setup.AccountCredentials" android:theme="@style/AccountSetupDialogActivityTheme"/>
        <activity android:label="@string/app_name" android:name=".activity.EventViewer">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="ui.email2.android.com" android:pathPrefix="/event" android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.android.mail.ui.LeAttachmentManagerActivity" android:theme="@style/LeMailActivityTheme" android:windowSoftInputMode="adjustNothing"/>
        <activity android:exported="false" android:name="com.android.mail.ui.LeContactActivity" android:screenOrientation="portrait" android:theme="@style/LeMailActivityTheme">
            <intent-filter>
                <action android:name="com.android.email.VIEW_LE_CONTACT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.android.mail.ui.LeSessionInfoActivity" android:screenOrientation="portrait" android:theme="@style/LeMailActivityTheme"/>
        <activity android:label="@string/activity_folder_selection" android:name="com.android.mail.ui.FolderSelectionActivity" android:theme="@style/ShortcutWidgetTheme"/>
        <activity android:label="@string/app_name" android:name="com.android.email2.ui.MailboxSelectionActivityEmail" android:theme="@style/ShortcutWidgetTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/shortcut_name_title" android:name="com.android.mail.ui.ShortcutNameActivity" android:theme="@style/ShortcutWidgetTheme"/>
        <activity android:label="@string/app_name" android:name="com.android.mail.ui.MailboxSelectionActivity" android:theme="@style/ShortcutWidgetTheme">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.android.email2.ui.MailActivityEmail" android:theme="@style/LeMailActivityTheme" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:mimeType="@string/application_mime_type"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        <activity-alias android:label="@string/app_name" android:name="com.android.email.activity.Welcome" android:targetActivity="com.android.email2.ui.MailActivityEmail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.APP_EMAIL"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data android:host="ui.email.android.com" android:path="/view/mailbox" android:scheme="content"/>
            </intent-filter>
        </activity-alias>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:label="@string/account_setup_basics_title" android:name=".activity.setup.LeAccountSetupFinal" android:theme="@style/LeMailSettingsTheme" android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.android.email.FORCE_CREATE_ACCOUNT"/>
                <action android:name="com.android.email.CREATE_NEW_ACCOUNT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:icon="@drawable/le_email_settings_icon" android:label="@string/le_settings_activity_title" android:name=".activity.setup.EmailPreferenceActivity" android:screenOrientation="portrait" android:theme="@style/LeMailSettingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="ui.email.android.com" android:pathPrefix="/settings" android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.APPLICATION_SETTINGS"/>
            </intent-filter>
            <meta-data android:name="android.application.settings.TYPE" android:value="android.application.settings.TYPE_SYSTEM"/>
            <meta-data android:name="android.application.settings.PRIOPRITY" android:value="5"/>
        </activity>
        <activity android:exported="true" android:label="@string/le_settings_activity_title" android:name="com.android.mail.ui.settings.PublicPreferenceActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="com.android.email.activity.setup.ACCOUNT_MANAGER_ENTRY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="false" android:label="@string/mailbox_settings_activity_title" android:name=".activity.setup.AccountServerSettingsActivity" android:theme="@style/LeMailSettingsTheme"/>
        <activity android:name=".activity.setup.HeadlessAccountSettingsLoader" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="com.android.email.ACCOUNT_SETTINGS"/>
                <data android:scheme="auth"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/folder_picker_title" android:name=".provider.FolderPickerActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="ui.email.android.com" android:pathPrefix="/setup" android:scheme="content"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/account_security_title" android:name=".activity.setup.AccountSecurity"/>
        <activity android:exported="false" android:label="@string/mailbox_settings_activity_title" android:name=".activity.setup.LeMailBoxSettingsActivity" android:theme="@style/LeSettingsTheme"/>
        <activity android:exported="false" android:label="@string/mailbox_settings_activity_title" android:name=".activity.setup.LeMailBoxAutoSyncSettingActivity" android:theme="@style/LeSettingsTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:name="com.android.mail.photo.MailPhotoViewActivity" android:theme="@style/LeViewPhotoTheme"/>
        <activity android:label="@string/app_name" android:name="com.android.mail.browse.EmlViewerActivity" android:theme="@style/LeComposeTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="message/rfc822"/>
                <data android:mimeType="application/eml"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/help_and_info" android:name="com.android.mail.ui.HelpActivity"/>
        <activity android:label="@string/open_source_licenses" android:name="com.android.mail.ui.LicensesActivity"/>
        <activity android:label="@string/mailbox_settings_activity_title" android:name=".activity.setup.LeLoginFailGuideActivity" android:theme="@style/LeSettingsTheme"/>
        <provider android:authorities="com.android.email.conversation.provider" android:exported="true" android:label="@string/conversation_content_provider" android:name="com.android.mail.browse.EmailConversationProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <provider android:authorities="com.android.email.accountcache" android:exported="true" android:label="@string/account_cache_provider" android:name="com.android.mail.providers.EmailAccountCacheProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <provider android:authorities="@string/eml_attachment_provider" android:exported="false" android:name="com.android.mail.providers.EmlAttachmentProvider">
            <grant-uri-permission android:pathPattern=".*"/>
        </provider>
        <provider android:authorities="email_temp_file" android:exported="false" android:grantUriPermissions="true" android:multiprocess="true" android:name="com.android.mail.providers.TempFileProvider"/>
        <provider android:authorities="com.android.email.suggestionsprovider" android:exported="true" android:name="com.android.mail.providers.SuggestionsProvider"/>
        <service android:name="com.android.mail.compose.EmptyService"/>
        <receiver android:enabled="true" android:name=".service.AttachmentService$AttachmentWatchdog"/>
        <receiver android:enabled="true" android:name=".service.EmailUpgradeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name=".service.EmailBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mail.action.update_notification" android:priority="-10"/>
                <data android:mimeType="@string/application_mime_type"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:host="36245" android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.EmailBroadcastProcessorService"/>
        <receiver android:description="@string/device_admin_description" android:label="@string/device_admin_label" android:name=".SecurityPolicy$PolicyAdmin" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
        <service android:enabled="false" android:name=".service.AttachmentService"/>
        <service android:enabled="true" android:exported="true" android:name=".service.Pop3AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_pop3"/>
        </service>
        <service android:enabled="false" android:exported="true" android:name=".service.ImapAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_imap"/>
        </service>
        <service android:exported="true" android:name="com.android.email.service.Pop3SyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_pop3"/>
        </service>
        <service android:exported="true" android:name="com.android.email.service.LegacyImapSyncAdapterService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/syncadapter_legacy_imap"/>
        </service>
        <service android:enabled="true" android:name=".service.PolicyService" android:permission="com.android.email.permission.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.android.email.POLICY_INTENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name=".service.AccountService" android:permission="com.android.email.permission.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.android.email.ACCOUNT_INTENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name=".service.ImapService" android:permission="com.android.email.permission.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.android.email.IMAP_INTENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:name=".service.Pop3Service" android:permission="com.android.email.permission.ACCESS_PROVIDER">
            <intent-filter>
                <action android:name="com.android.email.POP3_INTENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="true" android:name=".service.EasAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_eas"/>
        </service>
        <service android:enabled="false" android:exported="true" android:name=".service.EasTestAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/eastest_authenticator"/>
        </service>
        <service android:enabled="false" android:exported="true" android:name=".service.EasAuthenticatorServiceAlternate">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_alternate"/>
        </service>
        <service android:enabled="true" android:exported="false" android:name=".service.LegacyImapAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_legacy_imap"/>
        </service>
        <provider android:authorities="com.android.email.attachmentprovider" android:exported="true" android:grantUriPermissions="true" android:name=".provider.AttachmentProvider" android:readPermission="com.android.email.permission.READ_ATTACHMENT"/>
        <provider android:authorities="com.android.email.bigbodyprovider" android:exported="true" android:grantUriPermissions="true" android:name=".provider.LeBigBodyProvider" android:readPermission="com.android.email.permission.READ_BIG_BODY" android:writePermission="com.android.email.permission.READ_BIG_BODY"/>
        <provider android:authorities="com.android.email.provider;com.android.email.notifier" android:exported="true" android:grantUriPermissions="true" android:label="@string/app_name" android:name=".provider.EmailProvider" android:permission="com.android.email.permission.ACCESS_PROVIDER"/>
        <service android:enabled="true" android:exported="false" android:name=".service.LegacyEmailAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_legacy_email"/>
        </service>
        <service android:enabled="true" android:exported="false" android:name=".service.LegacyEasAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator_legacy_eas"/>
        </service>
        <service android:exported="false" android:name="com.android.email.EmailIntentService">
            <intent-filter>
                <action android:name="com.android.mail.action.RESEND_NOTIFICATIONS"/>
                <action android:name="com.android.mail.action.RESEND_NOTIFICATIONS_WEAR"/>
                <action android:name="com.android.mail.action.SEND_SET_NEW_EMAIL_INDICATOR"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mail.action.CLEAR_NEW_MAIL_NOTIFICATIONS"/>
                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mail.action.update_notification" android:priority="-10"/>
                <data android:mimeType="@string/application_mime_type"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.android.mail.NotificationActionIntentService">
            <intent-filter>
                <action android:name="com.android.mail.action.notification.MARK_READ"/>
                <action android:name="com.android.mail.action.notification.ARCHIVE"/>
                <action android:name="com.android.mail.action.notification.DELETE"/>
                <action android:name="com.android.mail.action.notification.UNDO"/>
                <action android:name="com.android.mail.action.notification.DESTRUCT"/>
                <action android:name="com.android.mail.action.notification.UNDO_TIMEOUT"/>
                <action android:name="com.android.mail.action.notification.REPLY"/>
                <action android:name="com.android.mail.action.notification.REPLY_ALL"/>
                <action android:name="com.android.mail.action.notification.FORWARD"/>
                <data android:scheme="content"/>
            </intent-filter>
        </service>
        <service android:name="com.android.mail.MailLogService"/>
        <service android:name="com.android.mail.browse.EmlTempFileDeletionService"/>
        <receiver android:name="com.android.email.receiver.SendMessageStatusReceiver">
            <intent-filter>
                <action android:name="com.android.email.ACTION_SEND_MESSAGE_STATUS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.mail.browse.NetWorkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
