<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" coreApp="true" package="com.mediatek.mtklogger" platformBuildVersionCode="21" platformBuildVersionName="5.0-1424964832">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <uses-permission android:name="com.android.email.permission.ACCESS_PROVIDER"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.ACCESS_ALL_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <application android:icon="@drawable/launcher" android:label="@string/app_name" android:name="com.mediatek.mtklogger.MyApplication" android:theme="@android:style/Theme.Holo.Light">
        <activity android:configChanges="keyboard|orientation" android:label="@string/app_name" android:launchMode="singleTask" android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|orientation" android:label="@string/title_activity_log_folder_list" android:name=".LogFolderListActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:configChanges="keyboard|orientation" android:label="@string/title_activity_log_folder_list" android:name=".LogFileListActivity" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:name=".settings.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".settings.MobileLogSettings" android:screenOrientation="portrait"/>
        <activity android:name=".settings.ModemLogSettings" android:screenOrientation="portrait"/>
        <activity android:name=".settings.NetworkLogSettings" android:screenOrientation="portrait"/>
        <activity android:name=".settings.MetLogSettings" android:screenOrientation="portrait"/>
        <service android:name=".framework.MTKLoggerService">
            <intent-filter>
                <action android:name="com.mediatek.mtklogger.MTKLoggerService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <receiver android:name=".framework.LogReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_BOOT_IPO"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN_IPO"/>
                <action android:name="com.mediatek.mtklogger.ADB_CMD"/>
                <action android:name="com.mediatek.mdlogger.AUTOSTART_COMPLETE"/>
                <action android:name="android.intent.action.DOWNLOAD_CALIBRATION_DATA"/>
                <action android:name="com.mediatek.log2server.EXCEPTION_HAPPEND"/>
                <action android:name="com.mediatek.mtklogger.extmdlogger.taglog"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.mediatek.mtklogger.issuesubmitter.POWERUSER_ASSIGNEE"/>
                <action android:name="android.hardware.usb.action.USB_STATE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL"/>
                <action android:name="android.intent.action.MEDIA_REMOVED"/>
                <action android:name="android.intent.action.MEDIA_SHARED"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.mediatek.mdlogger.MEMORYDUMP_START"/>
                <action android:name="com.mediatek.mdlogger.MEMORYDUMP_DONE"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/app_debugutils" android:launchMode="singleInstance" android:name=".debugtool.DebugToolboxActivity">
            <intent-filter>
                <action android:name="android.intent.action.Debugtoolbox"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name=".debugtool.AEEControlService" android:stopWithTask="true"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation" android:label="@string/app_history_name" android:name="com.mediatek.mtklogger.exceptionreporter.reporthistory.ExceptionReportHistory" android:screenOrientation="portrait" android:theme="@android:style/Theme.Holo.Light.NoActionBar"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation" android:label="@string/history_limit" android:name="com.mediatek.mtklogger.exceptionreporter.reporthistory.SetLimitedActivity" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|mcc|mnc|orientation|screenSize" android:label="@string/histroy_label" android:name="com.mediatek.mtklogger.exceptionreporter.reporthistory.ExceptionDetail" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:excludeFromRecents="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.mediatek.mtklogger.exceptionreporter.ExceptionReporter" android:screenOrientation="portrait" android:uiOptions="splitActionBarWhenNarrow"/>
        <activity android:label="@string/title_activity_login" android:name=".issuesubmitter.ui.LoginActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_qapage" android:launchMode="singleTask" android:name=".issuesubmitter.ui.QAPage" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_assignee_search" android:name=".issuesubmitter.ui.AssigneeSearchActivity" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar" android:title="@string/title_activity_assignee_search">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_nonqapage" android:launchMode="singleTask" android:name=".issuesubmitter.ui.NonQAPage" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:label="@string/title_activity_ertpage" android:launchMode="singleTask" android:name=".issuesubmitter.ui.ERTPage" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:label="@string/title_activity_ertpage" android:launchMode="singleTask" android:name=".issuesubmitter.ui.QAERTPage" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_settings" android:name=".issuesubmitter.ui.settings.ISSettingsActivity" android:parentActivityName=".settings.SettingsActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".settings.SettingsActivity"/>
        </activity>
        <activity android:label="@string/title_activity_history" android:name=".issuesubmitter.ui.history.HistoryActivity" android:parentActivityName=".settings.SettingsActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".settings.SettingsActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_history_editor" android:name=".issuesubmitter.ui.history.HistoryEditorActivity" android:screenOrientation="portrait" android:theme="@style/EditInfoActivity.WithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name=".issuesubmitter.framework.IssueSubmitterService">
            <intent-filter>
                <action android:name="com.mediatek.mtklogger.issuesubmitter.IssueSubmitterService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
